<div class="flex flex-row">
  <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
    <form class="card-body" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <app-form-field controlName="email">
        <ng-template>
          <div class="input-container">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              id="email"
              type="email"
              placeholder="email"
              class="input input-bordered"
              formControlName="email"
            />
          </div>
        </ng-template>
      </app-form-field>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Country</span>
        </label>
        <select
          class="select select-bordered w-full max-w-xs"
          id="country"
          name="country"
          formControlName="country"
        >
          <option value="1" value>UK</option>
          <option value="2">USA</option>
          <option value="3">Argentina</option>
          <option value="4">Brasil</option>
          <option value="4">Chile</option>
        </select>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          placeholder="password"
          class="input input-bordered"
          formControlName="password"
        />
        <label class="label">
          <a href="#" class="label-text-alt link link-hover"
            >Forgot password?</a
          >
        </label>
      </div>
      <div class="form-control mt-6">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!profileForm.valid"
        >
          Login {{ emailSignal() }}
        </button>
      </div>
    </form>
  </div>

  <div class="card bg-base-100 w-96 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Result</h2>
      <p>Form Status: {{ profileForm.status }}</p>
      <p>{{ submittedResults() | json }}</p>
    </div>
  </div>
</div>
