<!-- <ng-content></ng-content>
@if (profileForm.controls.email.touched &&
        profileForm.controls.email.invalid){
        <label class="label">
          <span class="label-text-alt text-error">{{errorMessage}}</span>
        </label>
        } -->

<div class="form-field">
  <ng-container *ngTemplateOutlet="inputTemplate"></ng-container>
  @let currentControl = control(); @if (currentControl?.invalid &&
  (currentControl?.dirty || currentControl?.touched)) {
  <div class="error-messages">
    @for (message of errorMessaged(); track $index) {
    {{ message }}
    }
  </div>
  }
</div>
