<div class="form-field">
  <!-- @let template = inputTemplate(); @if (template){
  <ng-container *ngTemplateOutlet="template"></ng-container>
  }  -->
  <ng-content></ng-content>
  @let formControl = control(); @if (formControl){
  <div>DEBUG: {{ formControl.errors | json }}</div>
  <div>DEBUG MSG: {{ errorMessages | json }}</div>
  <div>EVENTS: {{ events() | json }}</div>

  @if ( formControl?.invalid && (formControl?.dirty || formControl?.touched) ){

  <div class="error-messages">
    @for (message of errorMessages; track $index) {
    {{ message }}
    }
  </div>
  } } @else {
  <h2>Control not found</h2>
  }
</div>
